.contact-avatar {
  height: 200;
  width: 200;
  margin: 50;
  border-radius: 100%;
}
.contact-background {
  height: 300;
  background-color: #4781FE;
}
.contact-name {
  font-size: 20;
}
.contact-details {
  font-size: 16;
}
