<BottomNavigation>
  <TabStrip>
    <TabStripItem>
      <Label text="Messages"></Label>
      <Image src="font://&#xf086;" class="fa t-36"></Image>
    </TabStripItem>
    <TabStripItem>
      <Label text="Contacts"></Label>
      <Image src="font://&#xf0c0;" class="fa t-36"></Image>
    </TabStripItem>
    <TabStripItem>
      <Label text="Profile"></Label>
      <Image src="font://&#xf007;" class="fa t-36"></Image>
    </TabStripItem>
  </TabStrip>

  <TabContentItem>
    <page-router-outlet name="messagesTab"></page-router-outlet>
  </TabContentItem>

  <TabContentItem>
    <page-router-outlet name="contactsTab"></page-router-outlet>
  </TabContentItem>

  <TabContentItem>
    <page-router-outlet name="profileTab"></page-router-outlet>
  </TabContentItem>
</BottomNavigation>
