.contact-avatar {
  height: 48;
  width: 48;
  border-radius: 50%;
  border-color: #999;
  border-width: 1;
}
.contact-name {
  font-weight: bold;
}
.message-text {
  font-size: 14;
}
.message-time {
  font-size: 12;
}
